:root {
    --body-color: hsl(0, 7%, 17%);
    --text-color: hsl(0, 83%, 98%);
    --border: 24px;
    --color-primario: hsl(0, 90%, 64%);
    --color-segundario: hsl(0, 16%, 27%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--body-color);
    font-family: "Poppins", sans-serif;
}

textarea {
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
    background: transparent;
    resize: none;
}

.header {
    width: 100%;
    margin: auto;
}

.logo__img {
    margin-top: 40px;
}

/* Main */
.main {
    width: 85%;
    margin: auto 40px auto auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: calc(100vh - 91px - 72px);
    align-items: center;
}
.left {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ingresar__texto {
    width: 100%;
    font-size: 2rem;
    color: var(--text-color);
}

.ingresar__texto::placeholder {
    color: var(--text-color);
}

.left__container span {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1rem;
}

.left__btns {
    display: flex;
    column-gap: 1.5rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}


.btn__encriptar,
.btn__desencriptar,
.btn__copiar {
    max-width: 328px;
    width: 40%;
    height: 67px;
    border-radius: var(--border);
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.btn__encriptar {
    background: var(--color-primario);
    transition: .3s ease;
}

.btn__encriptar:hover {
    background: var(--color-segundario);
    border: 2px solid var(--color-segundario);
    color: var(--color-primario);
}

.btn__desencriptar {
    background: var(--color-segundario);
    border: 2px solid var(--color-segundario);
    color: var(--color-primario);
    transition: .3s ease;
}

.btn__desencriptar:hover {
    background: var(--color-primario);
    color: var(--text-color);
}

.right {
    height: calc(100% + 48px);
    background: var(--color-segundario);
    border-radius: var(--border);
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    align-items: center;
    -webkit-box-shadow: inset 0px 0px 25px 5px var(--color-primario);
    -moz-box-shadow: inset 0px 0px 25px 5px var(--color-primario);
    box-shadow: inset 0px 0px 25px 5px var(--color-primario);    
}

.right.ajustar {
    justify-content: space-between;
}

.img__right {
    width: 100%;
}

.texto__final,
.right__info {
    color: var(--text-color);
}

.texto__final{
    font-size: 2.5rem;
}

.texto__final::placeholder {
    color: var(--text-color);
    text-align: center;
}

.texto__final.ajustar {
    text-align: left;
    font-size: 2rem;
    font-weight: 400;
    height: 80%;
}

.right__info {
    font-size: 1.5rem;
}

.btn__copiar {
    max-width: none;
    width: 100%;
    background: var(--body-color);
    transition: .3s ease;
}

.btn__copiar:hover {
    background: transparent;
    border: 2px solid var(--body-color);
}

.ocultar {
    display: none;
}

@media screen and (max-width: 770px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: 75% auto;
        width: auto;
        margin: auto 40px;
    }

    .left__btns {
        justify-content: center;
    }

    .btn__encriptar,
    .btn__desencriptar {
        width: 45%;
        margin-top: 1rem;
    }

    .right {
        height: 100%;
    }

    .img__right {
        display: none;
    }
}

@media screen and (max-width: 536px) {
    .main {
        margin: auto 16px;
    }
    .btn__encriptar,
    .btn__desencriptar {
        max-width: none;
        width: 100%;
    }
}